@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
      url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
      url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
      url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
       url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SECTION 1 */

.section-1 {
  background-color: #EA3B38;
  background-image: url('../img/bg1.svg'), -webkit-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-image: url('../img/bg1.svg'), -o-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-image: url('../img/bg1.svg'), linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

section .inner,
header .inner,
footer .inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-1 .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 60px 0 150px;
}

.section-1 .navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.section-1 .main-logo,
.section-1 .main-logo img {
  width: 230px;
}

.section-1 .main-logo img {
  margin-bottom: 10px;
}

.section-1 a {
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.section-1 .tomain-link {
  margin-left: 50px;
  font-size: 20px;
  color: #ffdfde;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.section-1 .tomain-link:hover {
  color: #fff;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.section-1 .heading {
  color: #fff;
  margin: 0;
  margin-bottom: 30px;
}

.section-1 .subheading {
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.section-1 .contact-btn {
  display: inline-block;
  padding: 0 120px 0 70px;
  font-size: 26px;
  font-weight: normal;
  line-height: 75px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: #be3736;
  background-image: url('../img/arrow.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  -webkit-background-size: 40px 25px;
          background-size: 40px 25px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.section-1 .contact-btn:hover {
  background-color: #F8002D;
}

/* SECTION 2 */

.section-2 {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  background-image: url('../img/bg2.svg');
  -webkit-background-size: cover;
          background-size: cover;
}

.section-2 h1 {
  padding-bottom: 60px;
  margin-bottom: 60px;
  color: #333;
  border-bottom: 1px solid #E0E0E0;
}

.section-2 ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
}

.section-2 ul li {
  width: 20%;
  margin-bottom: 50px;
}

.section-2 ul li img {
  display: inline-block;
  width: 120px;
  margin-bottom: 35px;
}

.section-2 ul li:nth-child(2) img,
.section-2 ul li:nth-child(5) img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.section-2 ul li:first-child img {
  margin-bottom: 50px;
}

.section-2 ul li:last-child img {
  margin-bottom: 26px;
}

.section-2 ul li p {
  min-height: 46px;
  font-size: 20px;
  font-weight: normal;
  color: #333; 
}

/* SECTION 3 */

.section-3 {
  padding: 60px 0;
  background-image: -webkit-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-image: -o-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-image: linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
}

.section-3 h1 {
  margin-bottom: 40px;
  color: #fff;
}

.section-3 p {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.section-3 .img {
  width: 80%;
  margin: 0 auto;
  padding-top: 45%;
  background-image: url('../img/trafic-phone-@4x.png'), url('../img/trafic-src.svg');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
}

/* SECTION 4 */
.section-4 {
  padding: 60px 0;
}

.section-4 h1 {
  margin: 0;
  margin-bottom: 30px;
  color: #333;
}

.section-4 p {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 300;
  color: #9EA3B2;
}

.section-4 form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-4 .form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}

.section-4 .input-wrapper {
  position: relative;
  width: 49%;
  -webkit-border-radius: 10px 10px 10px 0;
          border-radius: 10px 10px 10px 0;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section-4 .input-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  width: 20px;
  height: 20px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-4 .input-wrapper--user::before {
  background-image: url('../img/icon-user.svg');
}

.section-4 .input-wrapper--email::before {
  background-image: url('../img/icon-email.svg');
}

.section-4 .input-wrapper .warning-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: block;
  height: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f00), to(transparent));
  background-image: -webkit-linear-gradient(left, #f00 0%, transparent 100%);
  background-image: -o-linear-gradient(left, #f00 0%, transparent 100%);
  background-image: linear-gradient(to right, #f00 0%, transparent 100%);
  -webkit-transition: right 0.2s ease-in;
  -o-transition: right 0.2s ease-in;
  transition: right 0.2s ease-in;
}

.section-4 .input-wrapper span {
  position: absolute;
  top: 110%;
  left: 30px;
  display: none;
  font-family: 'GothamPro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #f00;
}

.section-4 input {
  width: 100%;
  padding-left: 80px;
  padding-right: 30px;
  font-family: 'GothamPro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 67px;
  border: 1px solid transparent;
  -webkit-border-radius: 10px 10px 10px 0;
          border-radius: 10px 10px 10px 0;
  -webkit-transition: border-color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;
}

.section-4 .textarea-wrapper {
  position: relative;
  margin-bottom: 65px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px 10px 10px 0;
          border-radius: 10px 10px 10px 0;
}

.section-4 textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 250px;
  padding: 25px 30px 25px 80px;
  font-family: 'GothamPro', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  border: 1px solid transparent;
  -webkit-border-radius: 10px 10px 10px 0;
          border-radius: 10px 10px 10px 0;
  -webkit-transition: border-color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;
}

.section-4 .textarea-wrapper::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 30px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon-msg.svg');
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-4 input:focus,
.section-4 textarea:focus {
  border-color: #F8002D;
}

.section-4 button {
  display: inline-block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  padding: 0 120px 0 70px;
  font-size: 26px;
  line-height: 74px;
  color: #fff;
  text-transform: uppercase;
  background-color: #be3736;
  border: none;
  -webkit-border-radius: 70px;
          border-radius: 70px;
  background-image: url('../img/arrow.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  -webkit-background-size: 36px 21px;
          background-size: 36px 21px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.section-4 button:hover {
  background-color: #F8002D;
}

/* Footer */

footer {
  padding: 60px 0;
  background-image: -webkit-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-image: -o-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-image: linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
}

footer .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

footer .item {
  margin-right: 30px;
}

footer .item img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

footer .item:last-child {
  margin-right: 0;
}

footer .item a {
  font-size: 14px;
  font-weight: 300;
  padding: 12px 0;
  text-decoration: none;
  color: #ffdfde;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

footer .item a:hover {
  color: #fff;
}

footer .bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom img {
  width: 240px;
  margin-right: 60px;
  margin-bottom: 14px;
}

footer .bottom p {
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
}

/* Media queries */

@media screen and (max-width: 1520px) {
  .section-1 {
    height: auto;
  }

  .section-1 ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1330px) {
  .section-2 ul {
    width: 745px;
    margin: 0 auto;
  }

  .section-2 ul li {
    width: 33.3%;
  }
}

@media screen and (max-width: 1250px) {
  footer .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .bottom {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .section-1 .inner {
    padding-bottom: 100px;
  }

  .section-1 .navigation {
    margin-bottom: 30px;
  }

  .section-1 .main-logo,
  .section-1 .main-logo img {
    width: 160px;
  }

  .section-1 a {
    font-size: 10px;
  }

  .section-1 ul {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 20px 20px;
    background-image: url('../img/bg1.svg'), -webkit-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
    background-image: url('../img/bg1.svg'), -o-linear-gradient(299deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
    background-image: url('../img/bg1.svg'), linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .section-1 .subheading {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .section-1 .contact-btn {
    padding: 0 80px 0 30px;
    font-size: 20px;
    line-height: 50px;
    -webkit-background-size: 30px 30px;
            background-size: 30px;
  }

  .section-3 {
    padding: 60px 0 100px;
  }

  .section-3 .img {
    width: 100%;
    padding-top: 60%;
  }

  .section-3 p {
    font-size: 20px;
  }

  .section-4 {
    padding: 60px 0;
    margin-bottom: 60px;
  }

  .section-4 p {
    margin-bottom: 60px;
    font-size: 20px;
  }

  .section-4 .input-wrapper span {
    font-size: 12px;
  }

  .section-4 button {
    font-size: 20px;
    line-height: 50px;
    padding: 0 100px 0 50px
  }

  footer .item img {
    margin-right: 10px;
  }

  footer .item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 932px) {
  .section-2 ul {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .section-2 {
    padding-bottom: 60px;
  }

  .section-2 h1 {
    margin-bottom: 50px;
  }

  .section-2 ul li {
    margin-bottom: 30px;
  }

  .section-2 ul li img {
    width: 100px;
    margin-bottom: 15px;
  }

  .section-2 ul li:first-child img {
    margin-bottom: 25px;
  }

  .section-2 ul li:nth-child(4) img {
    margin-bottom: 30px;
  }

  .section-2 ul li p {
    font-size: 18px;
  }

  .section-4 .form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }

  .section-4 .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .section-4 .input-wrapper span {
    top: 104%;
  }

  footer {
    padding: 50px 0;
  }
}

@media screen and (max-width: 700px) {
  section .inner,
  header .inner,
  footer .inner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .section-1 {
    min-height: auto;
  }

  .section-1 .inner {
    padding-top: 20px;
  }

  .section-1 .tomain-link {
    margin-left: 0;
    padding: 0 20px;
    line-height: 30px;
    font-size: 13px;
  }
  
  .section-2 ul li {
    width: 50%;
  }

  .section-2 ul li:nth-child(4) img {
    margin-bottom: 15px;
  }

  .section-3 .img {
    padding-top: 63%;
    background-image: url('../img/trafic-src-mobile.svg');
  }

  footer .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .bottom img {
    margin-right: 0;
  }

  footer .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .item {
    margin-right: 0;
  }

  footer .item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  .section-1 .inner {
    padding: 20px 0 50px;
  }

  .section-1 a {
    font-size: 10px;
  }

  .section-2 {
    padding-bottom: 0;
  }

  .section-2 ul li {
    width: 100%;
    margin-bottom: 70px;
  }

  .section-2 ul li img {
    width: 100px;
  }

  .section-2 ul li:last-child img {
    margin-bottom: 10px;
  }

  .section-2 ul li p {
    font-size: 20px;
  }

  .section-4 {
    margin-bottom: 0;
  }

  .section-4 input {
    font-size: 14px;
    line-height: 45px;
  }

  .section-4 textarea {
    font-size: 14px;
    padding: 20px 30px 20px 80px;
  }

  .section-4 .textarea-wrapper::after {
    top: 18px;
  }
}

@media screen and (max-width: 400px) {
  .section-1 .navigation {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section-1 .tomain-link {
    padding: 0 10px;
  }

  .section-3 p {
    margin-bottom: 50px;
  }

  .section-1 .tomain-link::before {
    display: none;
  }
}