@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
      url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
      url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
       url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SECTION 1 */

.section-1 {
  min-height: 625px;
  padding: 60px 0 150px;
  background-color: #EA3B38;
  background-image: url('../img/bg1.svg'), linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}

section .inner,
header .inner,
footer .inner {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-1 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.section-1 .main-logo,
.section-1 .main-logo svg {
  width: 317px;
}

.section-1 .main-logo svg {
  margin-bottom: 14px;
}

.section-1 .tomain-link {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.section-1 .heading {
  color: #fff;
}

.section-1 .subheading {
  margin-bottom: 100px;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.section-1 .contact-btn {
  display: inline-block;
  padding: 0 120px 0 70px;
  font-size: 26px;
  font-weight: normal;
  line-height: 75px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-color: #be3736;
  background-image: url('../img/arrow.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-size: 40px 25px;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}

.section-1 .contact-btn:hover {
  background-color: #F8002D;
}

/* SECTION 2 */

.section-2 {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;
  background-image: url('../img/bg2.svg');
  background-size: cover;
}

.section-2 h1 {
  padding-bottom: 60px;
  margin-bottom: 60px;
  color: #F8002D;
  border-bottom: 1px solid #E0E0E0;
}

.section-2 ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.section-2 ul li {
  width: 20%;
  margin-bottom: 50px;
}

.section-2 ul li img {
  display: inline-block;
  width: 120px;
  margin-bottom: 35px;
}

.section-2 ul li:nth-child(2) img,
.section-2 ul li:nth-child(5) img {
  transform: translateX(10px);
}

.section-2 ul li:first-child img {
  margin-bottom: 50px;
}

.section-2 ul li:last-child img {
  margin-bottom: 16px;
}

.section-2 ul li p {
  min-height: 46px;
  font-size: 20px;
  color: #333; 
}

/* SECTION 3 */

.section-3 {
  padding: 60px 0;
  background-image: linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
}

.section-3 h1 {
  margin-bottom: 40px;
  color: #fff;
}

.section-3 p {
  margin-bottom: 100px;
  font-size: 24px;
  color: #fff;
}

.section-3 .img {
  width: 70%;
  margin: 0 auto;
  padding-top: 30%;
  background-image: url('../img/trafic-src.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* SECTION 4 */
.section-4 {
  padding: 60px 0;
}

.section-4 h1 {
  margin: 0;
  margin-bottom: 30px;
  color: #F8002D;
}

.section-4 p {
  margin-bottom: 60px;
  font-size: 24px;
  color: #9EA3B2;
}

.section-4 form {
  display: flex;
  flex-direction: column;
}

.section-4 .form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.section-4 .input-wrapper {
  position: relative;
  width: 49%;
}

.section-4 .input-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-4 .input-wrapper--user::after {
  background-image: url('../img/icon-user.svg');
}

.section-4 .input-wrapper--email::after {
  background-image: url('../img/icon-email.svg');
}

.section-4 input {
  width: 100%;
  padding-left: 80px;
  padding-right: 30px;
  font-family: 'Rubik', 'GothamPro', sans-serif;
  font-size: 18px;
  line-height: 67px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 0;
  transition: border-color 0.2s ease-in;
}

.section-4 .textarea-wrapper {
  position: relative;
}

.section-4 textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 250px;
  margin-bottom: 65px;
  padding: 25px 30px 25px 80px;
  font-family: 'Rubik', 'Helvetica', sans-serif;
  font-size: 18px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 10px 0;
  transition: border-color 0.2s ease-in;
}

.section-4 .textarea-wrapper::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 30px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url('../img/icon-msg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-4 input:focus,
.section-4 textarea:focus {
  border-color: #F8002D;
}

.section-4 button {
  display: inline-block;
  align-self: center;
  padding: 0 120px 0 70px;
  font-size: 26px;
  line-height: 74px;
  color: #fff;
  text-transform: uppercase;
  background-color: #be3736;
  border: none;
  border-radius: 70px;
  background-image: url('../img/arrow.svg');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-size: 36px 21px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.section-4 button:hover {
  background-color: #F8002D;
}

/* Footer */

footer {
  padding: 60px 0;
  background-image: linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
}

footer .inner {
  display: flex;
  justify-content: space-between;
}

footer .list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer .item {
  margin-right: 30px;
}

footer .item img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

footer .item:last-child {
  margin-right: 0;
}

footer .item a {
  font-size: 14px;
  padding: 12px 0;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in;
}

footer .item a:hover {
  color: #aaa;
}

footer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .bottom img {
  width: 240px;
  margin-right: 60px;
  margin-bottom: 14px;
}

footer .bottom p {
  font-size: 14px;
  line-height: 40px;
  color: #fff;
}

/* Media queries */

@media screen and (max-width: 1520px) {
  .section-1 {
    height: auto;
  }

  .section-1 .main-logo,
  .section-1 .main-logo img {
    width: 237px;
  }

  .section-1 .main-logo img {
    margin-bottom: 6px;
  }

  .section-1 ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1330px) {
  .section-2 ul {
    width: 745px;
    margin: 0 auto;
  }

  .section-2 ul li {
    width: 33.3%;
  }
}

@media screen and (max-width: 1250px) {
  footer .inner {
    flex-direction: column;
  }

  footer .bottom {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .section-1 {
    padding-bottom: 100px;
  }

  .section-1 .navigation {
    margin-bottom: 70px;
  }

  .section-1 ul {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 20px 20px;
    background-image: url('../img/bg1.svg'), linear-gradient(151deg, #B13030 -6.53%, #EA3B38 12.9%, #992329 54.64%, #7C1C24 101.15%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    transition: transform 0.2s ease-in-out;
  }

  .section-1 .tomain-link {
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .section-1 .subheading {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .section-1 .contact-btn {
    padding: 0 80px 0 30px;
    font-size: 20px;
    line-height: 50px;
    background-size: 30px;
  }

  .section-3 {
    padding: 60px 0 100px;
  }

  .section-3 .img {
    width: 100%;
    padding-top: 40%;
  }

  .section-3 p {
    font-size: 20px;
  }

  .section-4 {
    padding: 60px 0;
    margin-bottom: 60px;
  }

  .section-4 p {
    margin-bottom: 60px;
    font-size: 20px;
  }

  .section-4 button {
    font-size: 20px;
    line-height: 50px;
    padding: 0 100px 0 50px
  }

  footer .item img {
    margin-right: 10px;
  }

  footer .item {
    margin-right: 30px;
  }
}

@media screen and (max-width: 932px) {
  .section-2 ul {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .section-2 {
    padding-bottom: 60px;
  }

  .section-2 h1 {
    margin-bottom: 50px;
  }

  .section-2 ul li {
    margin-bottom: 30px;
  }

  .section-2 ul li img {
    width: 100px;
    margin-bottom: 15px;
  }

  .section-2 ul li:first-child img {
    margin-bottom: 25px;
  }

  .section-2 ul li:nth-child(4) img {
    margin-bottom: 30px;
  }

  .section-2 ul li p {
    font-size: 18px;
  }

  .section-4 .form-wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .section-4 .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  footer {
    padding: 50px 0;
  }
}

@media screen and (max-width: 700px) {
  section .inner,
  header .inner,
  footer .inner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .section-1 {
    min-height: auto;
    padding-top: 10px;
  }

  .section-1 .navigation {
    margin-bottom: 50px;
  }
  
  .section-2 ul li {
    width: 50%;
  }

  .section-2 ul li:nth-child(4) img {
    margin-bottom: 15px;
  }

  .section-3 .img {
    padding-top: 63%;
    background-image: url('../img/trafic-src-mobile.svg');
  }

  footer .bottom {
    flex-direction: column;
  }

  footer .bottom img {
    margin-right: 0;
  }

  footer .list {
    flex-direction: column;
  }

  footer .item {
    margin-right: 0;
  }

  footer .item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  .section-1 .main-logo,
  .section-1 .main-logo img {
    width: 177px;
  }

  .section-1 .tomain-link {
    font-size: 16px;
  }

  .section-2 {
    padding-bottom: 0;
  }

  .section-2 ul li {
    width: 100%;
    margin-bottom: 70px;
  }

  .section-2 ul li img {
    width: 100px;
  }

  .section-2 ul li p {
    font-size: 20px;
  }

  .section-4 {
    margin-bottom: 0;
  }

  .section-4 input {
    font-size: 14px;
    line-height: 45px;
  }

  .section-4 textarea {
    font-size: 14px;
    padding: 20px 30px 20px 80px;
  }

  .section-4 .textarea-wrapper::after {
    top: 18px;
  }
}

@media screen and (max-width: 400px) {
  .section-3 p {
    margin-bottom: 50px;
  }
}